
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(222, 10, 10);
  margin-top: auto;
}

html, body {
  height: 100%;
  margin: 0;
}


footer {
  background-color: #e40909;
  text-align: center;
  margin-top: auto;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

th {
  background-color: #f20909;
  color: rgb(245, 255, 249);
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

